/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
body button {
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
/* end clearfix */

*, *:after, *:before {
	box-sizing: border-box;
}

.left {
	float: left;
}
.right {
	float: right;
}


.rotate {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.st-content a {
	color: blue;
	text-decoration: none;
	white-space: nowrap;
}
.st-content a:hover {
	text-decoration: none;
	border-bottom: 2px solid;
	padding-bottom: 2px;
}

#header button {
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 5px;
	background-color: #369;
	color: white;
	font-size: 0.9em;
	line-height: normal;
	padding: 5px 10px;
	margin-left: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#header button:hover {
	background-color: #47B;
}

#header {
    padding: 0.8rem;
    text-align: center;
}
#header h1{
	display: inline-block;
	padding: 5px 10px;
}

#footer {
    padding: 1.25rem;
    text-align: center;
}

.title {
	color: #FFF;
    background: #369;
    padding: 0.8rem 1.25rem;
}

#Research { background: #B3C126; }
#Plan { background: #FECC2F; }
#Explore { background: #F8A227; }
#Communicate { background: #F46320; }
#Create { background: #DB3937; }
#Feedbacks { background: #EE6579; }
#Finalise { background: #A164D9; }
#Delight { background: #40A4D8; }
#Analyse { background: #33BEB7; }

.cards {
	border: 1px solid #f1f1f1;
	padding:20px;
	padding: 1.25rem;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
}

.cards div.img {
	margin-bottom: 10px;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
}

.cards .img img {
    width: 64px;
    height: 64px;
}

.cards .right {
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
}

.card-content {
	padding: 0 10px;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	    -ms-flex-positive: 3;
	        flex-grow: 3;
}

.card-content label {
	display: block;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	cursor: pointer;
}

.card-content p {
	font-size: 0.9em;
	line-height: normal;
	padding-right: 10px;
}





html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	overflow-y: scroll;
	background: #FFF;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background-color: #47A;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
	display: none;
}



@media (min-width: 1024px) {
	body {
		background: #fefefe;
	}

	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: stretch;
	}

	.title {
		position: relative;
		color: #FFF;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
		width: 50px;
        padding: 0;
	}

	.title span {
		/* Abs positioning makes it not take up vert space  */
	    position: absolute;
	    bottom: -10px;
	    left: 3px;
	    
	    /* Border is the new background */
	    background: none;
	    
	    /* Rotate from top left corner (not default) */
	    -webkit-transform-origin: 0 0;
	    -moz-transform-origin:    0 0;
	    -ms-transform-origin:     0 0;
	    -o-transform-origin:      0 0;
	    
	    -webkit-transform: rotate(-90deg); 
	    -moz-transform:    rotate(-90deg); 
	    -ms-transform:     rotate(-90deg); 
	    -o-transform:      rotate(-90deg); 
	}

	.cards {
	-webkit-flex-basis: 32%;
	    -ms-flex-preferred-size: 32%;
	        flex-basis: 32%;
	}
}

@media print {
	
	@page { margin:0in; }
	
	body {
		width: 100%;
		margin: 0;
		font-size: 0.7em;
	}

	.row {
		text-align: center;
	}

	.cards {
		float: none;
		display: inline-block;
		margin: 0;
		width: 6cm;
		height: 2.5cm;
		text-align: left;
		padding: 0;
	}

	.card-content label {
		font-size: 14px;
		font-weight: bold;
	}

	.card-content p {
		font-size: 9px;
		line-height: 11px;
	}

	input[type="checkbox"]{
		display: block !important;
		position: absolute;
		top: 10px;
		right: 10px;
		height: 20px;
		width: 20px;
	}

	.hide-for-print,
	.title,
	.cards a,
	.cards img {
		display: none;
	}
}